.donation-details-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.details-text{
    color: white;
}

.detail-card{
    margin-top: 3%;
    height: fit-content;
    width: 30rem;
    padding: 8px;
}

.card-img-top{
    padding: 5px;
    border-radius: 3%;
}

.card-body{
    display: flex;
    flex-direction: row;
}
.card-text-1{
    font-size: .75em;
    color: gray;
}

.card-body-1-field-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body-1 {
    padding-left: 15px;
    padding-right: 15px;
}

.card-body-2-field-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body-2 {
    padding-left: 15px;
    padding-right: 15px;
}

.card-body-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.card-body-4{
    padding-left: 15px;
    padding-right: 15px;
}

.card-body-5{
    display: flex;
    justify-content: center;
}