.donor-registration-form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.donor-input-fields{
    height: 60vh;
    overflow-y: scroll;
    scrollbar-width: 0px;
}

.registrForm {
    height: 50vh;
    overflow-y: scroll;
    scrollbar-width: 0px;
    background-color: #000;
}

#form-div{
    height: 65vh;
    overflow-y: auto;
}
.main-donor-registration-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    height: 100vh;
}

.donor-restration-page-logo-div {
    height: 100px;
}

.donor-regi-img{
    height: 80px;
    width: 150px;
}

.register-btn button:hover {
    background-color: green;
    color: #000;
}

#registrForm {
    height: 500px;
    width: 350px;
    overflow-y: auto
}

.register-btn{
    align-items: center;
}

.form-control{
    width: 50vh;
}