.forgot-password-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-text2-div {
    color: white;
}

.forgot-password-input-div{
    flex-direction: column;
    width: 100vh;
    text-align: center;
}

.forgot-pass-email-input-box{
    padding: 10px;
    margin: 40px;
    color: white;
    background-color:#6D5CE8;
    border-bottom: 3px solid #282c34;
}

.forgot-pass-email-input-box::placeholder {
    color: white;
    opacity: 0.5;
    text-align: center;
} 

