.main-login-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    height: 100vh;
    /* position: absolute; */
    align-items: center;
}
.logo-div{
    height: 150px;
}
.formDiv{
    height: fit-content;
    width: auto;
}
#form-div{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;  */

    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-btn, .google-btn{
    width: fit-content;
    height: fit-content;
}

.formDiv button {
    width: 30vh;
    padding: 8px;
}

.btn{
    color: white;
    background-color:#3C3767;
}

.login-btn button:hover {
    background-color: #fff;
    color: #000;
}

.google-btn button:hover {
    background-color: #fff;
    color: #000;
}

.checkbox-div{
    display: flex;
    flex-direction: row;
}

.checkbox-input-div{
    height: 15px;
    width: 15px;
    border-radius: 2px;
}

.form-check-label{
    font-size: small;
}

.input-fields{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}