/* .row .g-0{
    padding: 10rem;
} */
/* 

.card .mb-3{
    padding: 2rem !important;
}

.card-body .container1{
    display: grid;
    grid-template-columns: auto auto;
    background-color: blue;
}
.card .row{
    background-color: aqua;
    display: flex;
    align-items: center;
    flex-direction: row;

}
.footer{
    background-color: green;
}
.container1 .btn-primary{
    width:fit-content;
}

.card{
    height: fit-content !important;
    margin:auto;
}

.card .col-md-4{
    background-color: red;
}

.row .col-md-8 .container1{
    width: 100%;
    display: grid;
    background-color: blueviolet;
    grid-template-columns: auto auto;
}

.row .col-md-8{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

/* body {
    background: #6d5ce8;
    margin: auto;
    padding: 20px;
} */

.main-card {
    background-color: white;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
}

.card-group{
    display: flex;
    justify-content:center;
}

.img-div {
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: gray;
    overflow: hidden;
}

.img-div img {
    height: 180px;
    width: 180px;
    background-position: center;
}

hr {
    width: 3px;
    background-color: gray;
    height: 100%;
    border-radius: 10px;
    margin: 0px 10px;
}

.card-details {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.name-rating,
.type-qty,
.food-dist,
.best-before {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.rating-box {
    height: fit-content;
    padding: 8px;
    width: 60px;
    background-color: #6d5ce8;
    border-radius: 8px;
    color: white;
}
.rating-box p{
    margin-bottom: 0px;
}

.food-qty {
    color: gray;
}



